PORT=3000
KUE_PORT=3001
SALT=10
JWT_SECRET=muhammadlutfi
GOOGLE_EMAIL_USER=lutfii.dev@gmail.com
GOOGLE_EMAIL_PASS=1412Dev!
MONGODB_CONNECTION=mongodb+srv://admin:root@cluster0-r5gmo.gcp.mongodb.net/hijarvis?retryWrites=true